<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Home</title>
  <meta content="" name="AppVenture - App Landing Page Template">
  <meta content="" name="ZRTHEMES">

  <!-- Favicons -->
  <link href="static/assets/images/favicon.png" rel="icon">
  <link href="static/assets/images/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap" rel="stylesheet">
  <!-- Vendor CSS Files -->
  <link href="static/assets/stylesheets/font-awesome.min.css" rel="stylesheet" />
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <!-- Main CSS File -->
  <link href="static/assets/stylesheets/styles.css" rel="stylesheet">


</head>

<body>
  <header id="header" class="header d-flex align-items-center">
    <div class="container container-xl d-flex align-items-center justify-content-between">
      <a href="#" class="logo d-flex align-items-center">
        <h1>Wild<span>Animal</span></h1>
      </a>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/index">Home</a></li>
		  <li><a href="/about">About</a></li>
		  <li><a href="/notebook">Notebook</a></li>
          <li><a href="/login">Signout</a></li>
          
        </ul>
      </nav><!-- .navbar -->

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header><!-- End Header -->
  <!-- End Header -->

  <!-- - - - - - - - -  Hero Section - - - - - - - -  -->
  <section id="hero" class="hero">
    <div class="container position-relative">
      <div class="row gy-5" data-aos="fade-in">
        <div class="col-lg-7 col-md-7 order-lg-1 d-flex flex-column align-items-start justify-content-center text-left caption" data-aos="fade-left" data-aos-delay="100">
          
          <h3>Welcome to Dashboard</h3>
          <p>Wild Animal Activity Detection Using Hybrid Deep Neural Networks</p>
          
        </div>
        <div class="col-lg-5 col-md-5 order-lg-1 d-flex flex-column align-items-start justify-content-center text-left caption" data-aos="fade-up" data-aos-delay="100">
          <img src="static/assets/123.png" class="img-fluid rounded-4 mb-4" alt="">
        </div>
      </div>
    </div>
    </div>
  </section>
  <!-- End Hero Section -->

  <div id="services" class="section">
    <div class="top-icon-box position-relative">
      <div class="container position-relative">
        <div class="row gy-4">
            
          
            
           
            <p>Confusion Matrix:</p>
            <img style="width: 500px;height: 500px;" src="../static/download.png">
            <br> <br> <br>
            <p>Accuracy:</p>
            <img style="width: 500px;height: 500px;" src="../static/download (1).png">
            <br> <br> <br>
            <p>Precision Comparison:</p>
            <img style="width: 500px;height: 500px;" src="../static/download (2).png">
            <br><br> <br>
            <p>Recall Comparison:</p>
            <img style="width: 500px;height: 500px;" src="../static/download (3).png">
            <br> <br> <br>
            <p>F1 Comparison:</p>
            <img style="width: 500px;height: 500px;" src="../static/download (4).png">
            <br> <br> <br>
		</div>
	</div>
  </div>
</div>
<!-- - - - - - - - -  Footer - - - - - - - -  -->
<footer id="footer" class="footer-section">
  <div class="container">
	  <div class="footer-content pt-5 pb-5">
		  <div class="row">
			  <div class="col-xl-4 col-lg-4 mb-50">
				  <div class="footer-widget">
					  <div class="footer-logo">
						  <a href="#" class="logo d-flex align-items-center">
							<h1>WildAnimal<span></span></h1>
						  </a>
					  </div>
					  
					  <div class="footer-social-icon">
						  <span>Follow us</span>
						  <a href="#"><i class="fa fa-facebook facebook-bg"></i></a>
						  <a href="#"><i class="fa fa-twitter twitter-bg"></i></a>
						  <a href="#"><i class="fa fa-google google-bg"></i></a>
					  </div>
				  </div>
			  </div>
			  
			  
		  </div>
	  </div>
  </div>
  <div class="copyright-area">
	  <div class="container">
		  <div class="row">
			  <div class="col-xl-6 col-lg-6 text-left text-lg-left">
				  <div class="copyright-text">
					  <p>AppVenture © 2023 - Designed by Zr Themes.</p>
				  </div>
			  </div>
			  <div class="col-xl-6 col-lg-6 d-none d-lg-block">
				  <div class="footer-menu text-right">
					  <ul>
						  <li><a href="#">Home</a></li>
						  <li><a href="#">Terms</a></li>
						  <li><a href="#">Privacy</a></li>
						  <li><a href="#">Policy</a></li>
						 
					  </ul>
				  </div>
			  </div>
		  </div>
	  </div>
  </div>
</footer>
<!-- End Footer -->

<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
	class="bi bi-arrow-up-short"></i></a>

<div id="preloader"></div>

<!-- Vendor JS Files -->
<script src="static/assets/javascripts/jquery.min.js"></script>
<script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="static/assets/vendor/aos/aos.js"></script>
<script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="static/assets/javascripts/plugins.js"></script>
<script src="static/assets/javascripts/validator.min.js"></script>
<script src="static/assets/javascripts/contactform.js"></script>

<!-- Template Main JS File -->
<script src="static/assets/javascripts/main.js"></script>

</body>

</html>